/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #171b1c; /* Plano de fundo */
    color: #FFFFFF;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 900px;
    background-color: #2d96f1; /* Cor dos cards */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    text-align: center;
}

header {
    margin-bottom: 30px;
}

header h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
    line-height: 1.5;
    color: #d7d8d8;
}

/* Seção de equipe */
.team-section {
    margin-bottom: 30px;
}

.team-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.team-grid {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.team-member-card {
    background-color: #273A49;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    color: #FFFFFF;
    transition: background-color 0.3s;
}

.team-member-card:hover {
    background-color: #1F2C38;
}

.team-member-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.team-member-card p {
    font-size: 16px;
    color: #B0BEC5;
}

/* Seção de botões */
.actions-section {
    margin-top: 30px;
}

.action-button {
    text-decoration: none;
    background-color: #273A49;
    color: #FFFFFF;
    padding: 15px 30px;
    margin: 10px;
    border-radius: 5px;
    display: inline-block;
    font-size: 18px;
    transition: background-color 0.3s;
}

.action-button:hover {
    background-color: #1F2C38;
}
